html {
  	border: 2px solid white;
  	margin: 10px;
  	padding: 10px;
}

body {
  	font-family:  'Courier New', Courier, monospace;
  	background-color: grey;
}

#quiz {
	margin-left: 10px;
	background: #d2def2;
	padding: 10px 20px 10px 20px;
  	width: 15%;
  	height: 350px;
	border-radius: 20px;
  	float: left;
  	border: 2px solid black;
}

#quiz:hover {
  	opacity: 0.7;
}

input {
	margin-bottom: 20px;
	display: block;
}

#textbox {
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	padding-left: 5px;
}


#button {
	background: green;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
  	margin-top: 15px;
  	position: relative;
  	top: 30px;
}

#buttons {
	visibility: hidden;
	background: green;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
  	margin-top: 15px;
  	position: relative;
  	top: 30px;
}

#buttons:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;
}

#button:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;

}

#after_submit {
	visibility: hidden;
	background: #ff5459;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
  font-size: 30px;
  position: relative;
  left: 512px;
}

#picture {
	width: 375px;
	height: 245px;
}

#mc {
	display: inline;
}

#carbox1 {
  border: 1px solid black;
}

.title {
  text-align: center;
  color: white;
  text-decoration: underline;
}